{% extends "_layout.twig" %}

{% set myArticlesQuery = craft.entries()
    .section('articles')
    .orderBy('dateCreated asc')
    .limit(10) %}
{% set articles = myArticlesQuery.all() %}


{% block content %}
    <div class="imgHeader" style="background-image:url({{entry.headerImage.first.url}})">
        <div class="py-5">
            <div class="container">
                <h2>{{ entry.headerText }}</h2>
            </div>
        </div>
    </div>  
{% endblock %}

{% block subcontent %}
    {% for entry in articles %}
        {% set rel = entry.thumbnail.all() %}
        {# {{ dump(rel) }} #}
        <article>
            <h3>
                <a href="{{ entry.url }}">
                    {{ entry.articleTitle }} 
                    {% for asset in rel %}
                        <img src="{{ asset.url }}" class="thumbImage" alt="{{ asset.title }} ">
                    {% endfor %}                    
                </a>
            </h3>
        </article>
    {% endfor %}
{% endblock %}

{% block subcontent2 %}
    {% set ic2 = entry.contentField %}
    {% if ic2|length %}
        {% include('parts/contentFieldOutput') with  {'data' : ic2 } %}
    {% endif %}
{% endblock %}